<%= render 'shared/flash_messages' %>
  <% if user_signed_in? %>
    <div class="container">
      <div class="text-center">
        <div class="col  border border-white" id="dropdownMenuButton">
          <div class="dropdown m-4">
            <button class="btn btn-primary dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="ture" aria-expanded="ture">
              科目設定
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= link_to "収入科目設定", :incomes, class: "dropdown-item"%>
              <%= link_to "固定費科目設定", :fixedcosts, class: "dropdown-item" %>
              <%= link_to "変動費科目設定", :variablecosts, class: "dropdown-item" %>
            </div>
          </div>
        </div>   
          <div class="dropdown m-4">
            <button class="btn btn-primary dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="ture" aria-expanded="ture">
              収支登録
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= link_to "収入金額登録", :income_values,class: "dropdown-item" %>
              <%= link_to "固定費金額登録", :fixedcost_values,class: "dropdown-item" %>
              <%= link_to "変動費金額登録", :variablecost_values,class: "dropdown-item" %>
            </div>
          </div>  
          <div class="content__bottom">
            <h2>収支確認</h2>
            <ul>
              <li><%= link_to "収支確認画面", balance_confirm_path %></li>
            </ul>
          </div>
        </div>
      </div>
      <% else %>
      ログインしてください
      <% end %>