<h1>Ikeda_kakeibO</h1>
<p>家計簿アプリ</p>

<h2>科目設定</h2>
  <ul>
    <li><%= link_to "収入科目設定", :incomes %></li>
  </ul>
  <ul>
    <li><%= link_to "固定費科目設定", :fixedcosts %></li>
  </ul>
  <ul>
    <li><%= link_to "変動費科目設定", :variablecosts %></li>
  </ul>
  <h2>収支登録</h2>
  <ul>
    <li><%= link_to "収入金額登録", :income_values %></li>
  </ul>
  <ul>
    <li><%= link_to "固定費金額登録", :fixedcost_values%></li>
  </ul>
