<% if user_signed_in? %>
  <div class="content">
    <div class="content__left">
      <h2>科目設定</h2>
      <ul>
        <li><%= link_to "収入科目設定", :incomes %></li>
      </ul>
      <ul>
        <li><%= link_to "固定費科目設定", :fixedcosts %></li>
      </ul>
      <ul>
        <li><%= link_to "変動費科目設定", :variablecosts %></li>
      </ul>
      <div class="content__left--image"></div>
    </div>
    <div class="content__right">
      <h2>収支登録</h2>
      <ul>
        <li><%= link_to "収入金額登録", :income_values %></li>
      </ul>
      <ul>
        <li><%= link_to "固定費金額登録", :fixedcost_values%></li>
      </ul>
      <ul>
        <li><%= link_to "変動費金額登録", :variablecost_values %></li>
      </ul>
      <div class="content__right__top">
      </div>
      <div class="content__right__bottom">
        <div class="content__right__bottom--userName">
        </div>
        <div class="content__right__bottom--date">
        </div>
      </div>
    </div>
</div>
<div class="content__bottom">
    <h2>収支確認</h2>
    <ul>
      <li><%= link_to "収支確認画面", balance_confirm_path %></li>
    </ul>
  </div>
<% else %>
  <p>ログインしてください</p>
<% end %>