<%= link_to "収入科目一覧に戻る", :fixedcosts %>
<table>
  <tr>
    <th><%= form.label :name, "名称" %></th>
	  <td><%= form.text_field :name %></td>
  </tr>
  <tr>
    <th><%= form.label :description, "説明" %></th>
    <td><%= form.text_field :description %></td>
  </tr>
</table>