<!DOCTYPE html>
<html>
  <head>
    <title>IkedaKakeibo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= Gon::Base.render_data %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <%= link_to "トップ", items_path %>
        <%= link_to '投稿画面へ', new_item_path %> 
      <% else %>
        <%= link_to "ログイン", new_user_session_path %>
        <%= link_to "新規登録", new_user_registration_path %>
    <% end %>
  <header class="header">
      <div class="header__title">
        <%= link_to "Silver_kakeibO", root_path, class: "header__title--text" %>
      </div>
      <div class="header__right">
      </div>
    </header>
    <div class="contents">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <% if flash.notice %>
      <%= flash.notice %>
    <% end %>
    <%= yield %>
    </div>
  </body>
</html>
