<!DOCTYPE html>
<html>
  <head>
    <title>IkedaKakeibo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= Gon::Base.render_data %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <div class="contents">
      <%= render 'shared/header' %>
      
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <% if flash.notice %>
      <%= flash.notice %>
    <% end %>
    <%= yield %>
    </div>
  </body>
</html>
