<!DOCTYPE html>
<html>
  <head>
    <title>IkedaKakeibo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= Gon::Base.render_data %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%# <canvas id="myChart" width="400" height="400"></canvas> %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <%= link_to "家計簿",root_path %>
    <% if flash.notice %>
      <%= flash.notice %>
    <% end %>
    <%= yield %>
  </body>
</html>
